<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>zhuceServlet</servlet-name>
    <servlet-class>servlet.zhuceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addGoodsServlet</servlet-name>
    <servlet-class>servlet.addGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getGoodsServlet</servlet-name>
    <servlet-class>servlet.getGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>queryGoodsServlet</servlet-name>
    <servlet-class>servlet.queryGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteGoodsServlet</servlet-name>
    <servlet-class>servlet.deleteGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getEmployeeServlet</servlet-name>
    <servlet-class>servlet.getEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getSupplyServlet</servlet-name>
    <servlet-class>servlet.getSupplyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getSupplyNameServlet</servlet-name>
    <servlet-class>servlet.getSupplyNameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getGoodsNameServlet</servlet-name>
    <servlet-class>servlet.getGoodsNameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addPurchaseServlet</servlet-name>
    <servlet-class>servlet.addPurchaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addSalesServlet</servlet-name>
    <servlet-class>servlet.addSalesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EchartsServlet</servlet-name>
    <servlet-class>servlet.EchartsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editGoodsServlet</servlet-name>
    <servlet-class>servlet.editGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>queryEmployeeServlet</servlet-name>
    <servlet-class>servlet.queryEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteEmployeeServlet</servlet-name>
    <servlet-class>servlet.deleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>editEmployeeServlet</servlet-name>
    <servlet-class>servlet.editEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addEmployeeServlet</servlet-name>
    <servlet-class>servlet.addEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteSupplyServlet</servlet-name>
    <servlet-class>servlet.deleteSupplyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addSupplyServlet</servlet-name>
    <servlet-class>servlet.addSupplyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editSupplyServlet</servlet-name>
    <servlet-class>servlet.editSupplyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addGoodsDetailServlet</servlet-name>
    <servlet-class>servlet.addGoodsDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cancelServlet</servlet-name>
    <servlet-class>servlet.cancelServlet</servlet-class>
  </servlet>

  <filter>
  <filter-name>login</filter-name>
  <filter-class>filter.MyFilter</filter-class>
 </filter>


  <servlet-mapping>
    <servlet-name>zhuceServlet</servlet-name>
    <url-pattern>/zhuceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addGoodsServlet</servlet-name>
    <url-pattern>/addGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getGoodsServlet</servlet-name>
    <url-pattern>/getGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryGoodsServlet</servlet-name>
    <url-pattern>/queryGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteGoodsServlet</servlet-name>
    <url-pattern>/deleteGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getEmployeeServlet</servlet-name>
    <url-pattern>/getEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getSupplyServlet</servlet-name>
    <url-pattern>/getSupplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getSupplyNameServlet</servlet-name>
    <url-pattern>/getSupplyNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getGoodsNameServlet</servlet-name>
    <url-pattern>/getGoodsNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addPurchaseServlet</servlet-name>
    <url-pattern>/addPurchaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addSalesServlet</servlet-name>
    <url-pattern>/addSalesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EchartsServlet</servlet-name>
    <url-pattern>/EchartsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editGoodsServlet</servlet-name>
    <url-pattern>/editGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryEmployeeServlet</servlet-name>
    <url-pattern>/queryEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteEmployeeServlet</servlet-name>
    <url-pattern>/deleteEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editEmployeeServlet</servlet-name>
    <url-pattern>/editEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addEmployeeServlet</servlet-name>
    <url-pattern>/addEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteSupplyServlet</servlet-name>
    <url-pattern>/deleteSupplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addSupplyServlet</servlet-name>
    <url-pattern>/addSupplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editSupplyServlet</servlet-name>
    <url-pattern>/editSupplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addGoodsDetailServlet</servlet-name>
    <url-pattern>/addGoodsDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cancelServlet</servlet-name>
    <url-pattern>/cancelServlet</url-pattern>
  </servlet-mapping>
  <filter-mapping>
  <filter-name>login</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>